/* Stylesheet by Jessica Kane, 2018 */

html, body, #map {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #F3F3F1;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
}

h3, h2 {
   margin: 0px; 
}

#map {
    z-index: 5;
    display: inline-block;
}

#title {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
    background-color: rgba(85, 89, 89, 0.85);
    width: 380px;
    height: 60px;
    padding: 15px;
}

/* -------Sequence control and slider------- */
.sequence-control-container {
    width: 300px;
    height: 65px;
    background-color: rgba(85, 89, 89, 0.85);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    padding-top: 0px;
    position: fixed;
    bottom: 25px;
}

.range-slider {
    width: 200px;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

#year {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
}

/* ----------------Legend---------------- */
.legend-control-container-gen {
    position: fixed;
    right: 10px;
    bottom: 120px;
    padding: 10px;
    background-color: rgba(85, 89, 89, 0.85);
    height: 60px;
}

.legend-control-container-rec {
    position: fixed;
    right: 10px;
    bottom: 25px;
    background-color: rgba(85, 89, 89, 0.85);
    padding: 10px;
}

#temporal-legend-gen {
    float: left;
    width: 130px;
    padding-top: 15px;
}

#temporal-legend-rec {
    float: left;
    width: 130px;
    padding-top: 5px;
}

.legendText {
    font-family: 'Open Sans', sans-serif;
    fill: #F3F3F1;
}

/* ----------------PopUps---------------- */
.leaflet-popup-content p {
    margin: 0.2em 0;
}

#popupTitle {
    text-align: center;
}

.gen-popup .leaflet-popup-content-wrapper {
    background: #CE7816;
    color: #F3F3F1;
}

.gen-popup .leaflet-popup-tip {
    background: #CE7816;
}

.rec-popup .leaflet-popup-content-wrapper {
    background: #006FFF;
    color: #F3F3F1;
}

.rec-popup .leaflet-popup-tip {
    background: #006FFF;
}

/* --------------Small Screens-------------- */
@media (max-width: 670px) {
    .legend-control-container-gen, .legend-control-container-rec, a.leaflet-control-zoom-in, a.leaflet-control-zoom-out, .leaflet-control-layers, .leaflet-control-attribution {
        display: none;
    }
}